<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en"  >
<head>
    <meta charset="UTF-8">
    <title>Office Update</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

        <nav class = "navbar navbar-expand-md bg-dark navbar-dark" >
            <a class="navbar-brand" href="#">  App Branch Manager </a>
            <!--Navbar links-->
            <div class = "collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link"
                         th:href="@{/api/v1/office/getAll}">Main Page</a></li>
                </ul>
            </div>

        </nav>

        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-ms-6 container justify-content-center card">
                    <h1 class="text-center"> Office Update</h1>
                    <div class="card-body">
                        <form th:action="@{/api/v1/office/update}" th:object="${office}" method="POST">
                            <div class="form-group">
                                <input type="hidden" th:field="*{id}">
                                <label>Name :</label>
                                <input type="text" name="name" th:field="*{name}" class="form-control" placeholder="Your name is ..." required>
                            </div>
                            <div class="form-group">
                                <label>Country :</label>
                                <input type="text" name="country" th:field="*{country}" class="form-control" placeholder="Your Country is ..." required>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-success"> Save</button>
                                <a class="btn btn-danger" th:href="@{/api/v1/office/getAll}" role="button">Cancel</a>


                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>








</body>
</html>